.tags
*.swp
*.tmproj
tmtags
*~
\#*
.\#*
coverage
rdoc
pkg
tmp/*
.svn
*.com
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.log
.DS_Store
ehthumbs.db
Icon
Thumbs.db
.Spotlight-V100
.Trashes
._*
logs/*
